body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: #f7f7f9;
  color: #222;
}

header {
  background: #0b74de;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 1.4rem;
}

nav a {
    justify-content: space-between;
  color: #fff;
  text-decoration: none;
  margin-right: 0.5rem;
}

main {
  padding: 1.5rem;
}

footer {
margin-top: 330px;
  background: #eee;
  padding: 0.8rem;
  text-align: center;
  font-size: 0.9rem;
}

.center {
  text-align: center;
  margin-top: 6rem;
}
