*{
    margin: 0;
    padding: 0;
}
.container{
    
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    width: 100%;
    flex-wrap: wrap;
}
.box{
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    background-color: coral;
    gap: 2px;
}
